@model GuildCars.UI.Models.ViewModels.MakeVM


@{
    ViewBag.Title = "Makes";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<h2>Makes</h2>

@using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { @class = "form-inline form" }))
{
    @Html.ValidationSummary();
    <div class="row" style="border:solid 1px black">
        <div class="form-group" style="padding-top:10px;padding-bottom:10px">
            <label for="newMake" style="padding-left:10px">New Make</label>
            @Html.TextBoxFor(m => m.NewMake, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default">Save</button>
    </div>
}
<div class="row">
    <div class="col-md-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Makes)
                {
                <tr>
                    <td>@m.MakeName</td>
                    <td>@m.DateAdded.ToString("MM/dd/yyyy")</td>
                    <td>@m.Email</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-7">
    </div>
</div>